services:
  - type: web
    name: vet-animal-wellness-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -k uvicorn.workers.UvicornWorker main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
